<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

    <!--
        For more configuration information and examples see the
        Jakarta Log4j website: http://jakarta.apache.org/log4j
    -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!--                                    -->
    <!-- Declare the StdOut ConsoleAppender -->
    <!--                                    -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-4r [%t] %-5p %c %x - %m%n" />
        </layout>
    </appender>

    <!--                           -->
    <!-- Declare the AsyncAppender -->
    <!-- used by ROOT              -->
    <!--                           -->
    <appender name="async" class="org.apache.log4j.AsyncAppender">
        <param name="LocationInfo" value="true"/>
        <param name="Blocking" value="true"/>
        <param name="BufferSize" value="4096"/>
        <appender-ref ref="stdout" />
    </appender>

    <!--                           -->
    <!-- setup log4j's root logger -->
    <!--                           -->
    <root>
        <priority value="INFO" />
        <appender-ref ref="stdout" />
    </root>
    
</log4j:configuration>
